In [1]:
import re
import nltk
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from wordcloud import WordCloud

nltk.download("stopwords")

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\avishs\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [2]:
df = pd.read_csv('Resume.csv')
df.head()

,ID,Resume_str,Resume_html,Category
0,16852973,HR ADMINISTRATOR/MARKETING ASSOCIATE\...,"<div class=""fontsize fontface vmargins hmargin...",HR
1,22323967,"HR SPECIALIST, US HR OPERATIONS ...","<div class=""fontsize fontface vmargins hmargin...",HR
2,33176873,HR DIRECTOR Summary Over 2...,"<div class=""fontsize fontface vmargins hmargin...",HR
3,27018550,HR SPECIALIST Summary Dedica...,"<div class=""fontsize fontface vmargins hmargin...",HR
4,17812897,HR MANAGER Skill Highlights ...,"<div class=""fontsize fontface vmargins hmargin...",HR

In [3]:
# drop unused columns
df.pop('ID')
df.pop('Resume_html')

0       <div class="fontsize fontface vmargins hmargin...
1       <div class="fontsize fontface vmargins hmargin...
2       <div class="fontsize fontface vmargins hmargin...
3       <div class="fontsize fontface vmargins hmargin...
4       <div class="fontsize fontface vmargins hmargin...
                              ...
2479    <div class="fontsize fontface vmargins hmargin...
2480    <div class="fontsize fontface vmargins hmargin...
2481    <div class="fontsize fontface vmargins hmargin...
2482    <div class="fontsize fontface vmargins hmargin...
2483    <div class="fontsize fontface vmargins hmargin...
Name: Resume_html, Length: 2484, dtype: object

In [4]:
df.head()

                                          Resume_str Category
0           HR ADMINISTRATOR/MARKETING ASSOCIATE\...       HR
1           HR SPECIALIST, US HR OPERATIONS      ...       HR
2           HR DIRECTOR       Summary      Over 2...       HR
3           HR SPECIALIST       Summary    Dedica...       HR
4           HR MANAGER         Skill Highlights  ...       HR

In [31]:
#https://medium.com/@annabiancajones/sentiment-analysis-on-reviews-train-test-split-bootstrapping-cross-validation-word-clouds-4ae65e745f59
from sklearn.model_selection import train_test_split
train, test = train_test_split(df, test_size=0.3, random_state=1)
#because of class imbalance
t_1 = train[train['Category']=='AUTOMOBILE'].sample(100,replace=True)
t_2 = train[train['Category']=='ENGINEERING'].sample(100,replace=True)
t_3 = train[train['Category']=='DESIGNER'].sample(100,replace=True)
t_4 = train[train['Category']=='APPAREL'].sample(100,replace=True)
t_5 = train[train['Category']=='INFORMATION-TECHNOLOGY'].sample(100,replace=True)
t_6 = train[train['Category']=='AVIATION'].sample(100,replace=True)
t_7 = train[train['Category']=='HEALTHCARE'].sample(100,replace=True)
t_8 = train[train['Category']=='CHEF'].sample(100,replace=True)
t_9 = train[train['Category']=='SALES'].sample(100,replace=True)
t_10 = train[train['Category']=='ACCOUNTANT'].sample(100,replace=True)
t_11 = train[train['Category']=='ADVOCATE'].sample(100,replace=True)
t_12 = train[train['Category']=='HR'].sample(100,replace=True)
t_13 = train[train['Category']=='AGRICULTURE'].sample(100,replace=True)
t_14 = train[train['Category']=='FINANCE'].sample(100,replace=True)
t_15 = train[train['Category']=='BPO'].sample(100,replace=True)
t_16 = train[train['Category']=='BUSINESS-DEVELOPMENT'].sample(100,replace=True)
t_17 = train[train['Category']=='FITNESS'].sample(100,replace=True)
t_18 = train[train['Category']=='CONSULTANT'].sample(100,replace=True)
t_19 = train[train['Category']=='DIGITAL-MEDIA'].sample(100,replace=True)
t_20 = train[train['Category']=='BANKING'].sample(100,replace=True)
t_21 = train[train['Category']=='PUBLIC-RELATIONS'].sample(100,replace=True)
t_22 = train[train['Category']=='CONSTRUCTION'].sample(100,replace=True)
t_23 = train[train['Category']=='ARTS'].sample(100,replace=True)
t_24 = train[train['Category']=='TEACHER'].sample(100,replace=True)
training_bs = pd.concat([t_1, t_2, t_3,t_4,t_5,t_6,t_7,t_8,t_9,t_10,t_11,t_12,t_13,t_14,t_15,t_16,t_17,t_18,t_19,t_20,t_21,t_22,t_23,t_24])
print (train.shape)
print (training_bs.shape)
print (test.shape)
# sanity check 
df.shape[0] == (train.shape[0] + test.shape[0])

(1738, 2)
(2400, 2)
(746, 2)

True

In [34]:
print (train['Category'].value_counts(normalize=True))

AVIATION                  0.051208
INFORMATION-TECHNOLOGY    0.050633
SALES                     0.049482
ADVOCATE                  0.049482
FITNESS                   0.048907
ENGINEERING               0.048331
CHEF                      0.047181
PUBLIC-RELATIONS          0.047181
HR                        0.047181
ACCOUNTANT                0.046605
FINANCE                   0.046030
HEALTHCARE                0.044304
BANKING                   0.044304
BUSINESS-DEVELOPMENT      0.043728
CONSULTANT                0.043728
DESIGNER                  0.043728
TEACHER                   0.043153
CONSTRUCTION              0.041427
APPAREL                   0.039701
ARTS                      0.039125
DIGITAL-MEDIA             0.033947
AGRICULTURE               0.027618
AUTOMOBILE                0.014384
BPO                       0.008631
Name: Category, dtype: float64

In [35]:
print (training_bs['Category'].value_counts(normalize=True))

AUTOMOBILE                0.041667
ENGINEERING               0.041667
ARTS                      0.041667
CONSTRUCTION              0.041667
PUBLIC-RELATIONS          0.041667
BANKING                   0.041667
DIGITAL-MEDIA             0.041667
CONSULTANT                0.041667
FITNESS                   0.041667
BUSINESS-DEVELOPMENT      0.041667
BPO                       0.041667
FINANCE                   0.041667
AGRICULTURE               0.041667
HR                        0.041667
ADVOCATE                  0.041667
ACCOUNTANT                0.041667
SALES                     0.041667
CHEF                      0.041667
HEALTHCARE                0.041667
AVIATION                  0.041667
INFORMATION-TECHNOLOGY    0.041667
APPAREL                   0.041667
DESIGNER                  0.041667
TEACHER                   0.041667
Name: Category, dtype: float64

In [27]:
test.head()

,Resume_str,Category
664,"DIRECTOR, GLOBAL BUSINESS DEVELOPMENT...",BUSINESS-DEVELOPMENT
608,BUSINESS DEVELOPMENT DIRECTOR S...,BUSINESS-DEVELOPMENT
304,MANAGER - INFORMATION TECHNOLOGY AND ...,INFORMATION-TECHNOLOGY
2204,PROJECT ANALYST Summary ...,BANKING
587,BUSINESS DEVELOPMENT INTERN S...,BUSINESS-DEVELOPMENT

In [6]:
!pip install nlp

Defaulting to user installation because normal site-packages is not writeable
Collecting nlp
  Downloading nlp-0.4.0-py3-none-any.whl (1.7 MB)
Collecting pyarrow>=0.16.0
  Downloading pyarrow-8.0.0-cp39-cp39-win_amd64.whl (17.9 MB)

  WARNING: The script plasma_store.exe is installed in 'C:\Users\avishs\AppData\Roaming\Python\Python39\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.

Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (from nlp) (1.4.2)
Requirement already satisfied: numpy in c:\programdata\anaconda3\lib\site-packages (from nlp) (1.21.5)
Requirement already satisfied: requests>=2.19.0 in c:\programdata\anaconda3\lib\site-packages (from nlp) (2.27.1)
Requirement already satisfied: tqdm>=4.27 in c:\programdata\anaconda3\lib\site-packages (from nlp) (4.64.0)
Collecting dill
  Downloading dill-0.3.5.1-py2.py3-none-any.whl (95 kB)
Collecting xxhash
  Downloading xxhash-3.0.0-cp39-cp39-win_amd64.whl (29 kB)
Requirement already satisfied: filelock in c:\programdata\anaconda3\lib\site-packages (from nlp) (3.6.0)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.19.0->nlp) (3.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.19.0->nlp) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.19.0->nlp) (1.26.9)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.19.0->nlp) (2021.10.8)
Requirement already satisfied: colorama in c:\programdata\anaconda3\lib\site-packages (from tqdm>=4.27->nlp) (0.4.4)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\programdata\anaconda3\lib\site-packages (from pandas->nlp) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas->nlp) (2021.3)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas->nlp) (1.16.0)
Installing collected packages: xxhash, pyarrow, dill, nlp
Successfully installed dill-0.3.5.1 nlp-0.4.0 pyarrow-8.0.0 xxhash-3.0.0

In [7]:
%matplotlib inline

import tensorflow as tf
import numpy as np
import matplotlib.pyplot as plt
import nlp
import random


def show_history(h):
    epochs_trained = len(h.history['loss'])
    plt.figure(figsize=(16, 6))

    plt.subplot(1, 2, 1)
    plt.plot(range(0, epochs_trained), h.history.get('accuracy'), label='Training')
    plt.plot(range(0, epochs_trained), h.history.get('val_accuracy'), label='Validation')
    plt.ylim([0., 1.])
    plt.xlabel('Epochs')
    plt.ylabel('Accuracy')
    plt.legend()

    plt.subplot(1, 2, 2)
    plt.plot(range(0, epochs_trained), h.history.get('loss'), label='Training')
    plt.plot(range(0, epochs_trained), h.history.get('val_loss'), label='Validation')
    plt.xlabel('Epochs')
    plt.ylabel('Loss')
    plt.legend()
    plt.show()

    
def show_confusion_matrix(y_true, y_pred, classes):
    from sklearn.metrics import confusion_matrix
    
    cm = confusion_matrix(y_true, y_pred, normalize='true')

    plt.figure(figsize=(8, 8))
    sp = plt.subplot(1, 1, 1)
    ctx = sp.matshow(cm)
    plt.xticks(list(range(0, 6)), labels=classes)
    plt.yticks(list(range(0, 6)), labels=classes)
    plt.colorbar(ctx)
    plt.show()

    
print('Using TensorFlow version', tf.__version__)

Using TensorFlow version 2.9.1

In [9]:
pip install datasets

Defaulting to user installation because normal site-packages is not writeable
Collecting datasets
  Downloading datasets-2.2.2-py3-none-any.whl (346 kB)
Requirement already satisfied: numpy>=1.17 in c:\programdata\anaconda3\lib\site-packages (from datasets) (1.21.5)
Collecting multiprocess
  Downloading multiprocess-0.70.13-py39-none-any.whl (132 kB)
Requirement already satisfied: requests>=2.19.0 in c:\programdata\anaconda3\lib\site-packages (from datasets) (2.27.1)
Requirement already satisfied: pyarrow>=6.0.0 in c:\users\avishs\appdata\roaming\python\python39\site-packages (from datasets) (8.0.0)
Requirement already satisfied: aiohttp in c:\programdata\anaconda3\lib\site-packages (from datasets) (3.8.1)
Requirement already satisfied: fsspec[http]>=2021.05.0 in c:\programdata\anaconda3\lib\site-packages (from datasets) (2022.2.0)
Requirement already satisfied: tqdm>=4.62.1 in c:\programdata\anaconda3\lib\site-packages (from datasets) (4.64.0)
Requirement already satisfied: xxhash in c:\users\avishs\appdata\roaming\python\python39\site-packages (from datasets) (3.0.0)
Collecting huggingface-hub<1.0.0,>=0.1.0
  Downloading huggingface_hub-0.7.0-py3-none-any.whl (86 kB)
Collecting dill<0.3.5
  Downloading dill-0.3.4-py2.py3-none-any.whl (86 kB)
Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (from datasets) (1.4.2)
Requirement already satisfied: packaging in c:\programdata\anaconda3\lib\site-packages (from datasets) (21.3)
Collecting responses<0.19
  Downloading responses-0.18.0-py3-none-any.whl (38 kB)
Requirement already satisfied: filelock in c:\programdata\anaconda3\lib\site-packages (from huggingface-hub<1.0.0,>=0.1.0->datasets) (3.6.0)
Requirement already satisfied: pyyaml>=5.1 in c:\programdata\anaconda3\lib\site-packages (from huggingface-hub<1.0.0,>=0.1.0->datasets) (6.0)
Requirement already satisfied: typing-extensions>=3.7.4.3 in c:\programdata\anaconda3\lib\site-packages (from huggingface-hub<1.0.0,>=0.1.0->datasets) (4.1.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\programdata\anaconda3\lib\site-packages (from packaging->datasets) (3.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.19.0->datasets) (1.26.9)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.19.0->datasets) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.19.0->datasets) (3.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.19.0->datasets) (2.0.4)
Requirement already satisfied: colorama in c:\programdata\anaconda3\lib\site-packages (from tqdm>=4.62.1->datasets) (0.4.4)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in c:\programdata\anaconda3\lib\site-packages (from aiohttp->datasets) (4.0.1)
Requirement already satisfied: yarl<2.0,>=1.0 in c:\programdata\anaconda3\lib\site-packages (from aiohttp->datasets) (1.6.3)
Requirement already satisfied: attrs>=17.3.0 in c:\programdata\anaconda3\lib\site-packages (from aiohttp->datasets) (21.4.0)
Requirement already satisfied: multidict<7.0,>=4.5 in c:\programdata\anaconda3\lib\site-packages (from aiohttp->datasets) (5.1.0)
Requirement already satisfied: aiosignal>=1.1.2 in c:\programdata\anaconda3\lib\site-packages (from aiohttp->datasets) (1.2.0)
Requirement already satisfied: frozenlist>=1.1.1 in c:\programdata\anaconda3\lib\site-packages (from aiohttp->datasets) (1.2.0)
Collecting multiprocess
  Downloading multiprocess-0.70.12.2-py39-none-any.whl (128 kB)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas->datasets) (2021.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\programdata\anaconda3\lib\site-packages (from pandas->datasets) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas->datasets) (1.16.0)
Installing collected packages: dill, responses, multiprocess, huggingface-hub, datasets
  Attempting uninstall: dill
    Found existing installation: dill 0.3.5.1
    Uninstalling dill-0.3.5.1:
      Successfully uninstalled dill-0.3.5.1
Successfully installed datasets-2.2.2 dill-0.3.4 huggingface-hub-0.7.0 multiprocess-0.70.12.2 responses-0.18.0
Note: you may need to restart the kernel to use updated packages.

  WARNING: The script huggingface-cli.exe is installed in 'C:\Users\avishs\AppData\Roaming\Python\Python39\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
  WARNING: The script datasets-cli.exe is installed in 'C:\Users\avishs\AppData\Roaming\Python\Python39\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.

In [10]:
from datasets import load_dataset
dataset = load_dataset('csv', data_files='Resume.csv')

Using custom data configuration default-1e1cba98adbd4039

Downloading and preparing dataset csv/default to C:\Users\avishs\.cache\huggingface\datasets\csv\default-1e1cba98adbd4039\0.0.0\433e0ccc46f9880962cc2b12065189766fbb2bee57a221866138fb9203c83519...

Downloading data files:   0%|          | 0/1 [00:00<?, ?it/s]

Extracting data files:   0%|          | 0/1 [00:00<?, ?it/s]

Dataset csv downloaded and prepared to C:\Users\avishs\.cache\huggingface\datasets\csv\default-1e1cba98adbd4039\0.0.0\433e0ccc46f9880962cc2b12065189766fbb2bee57a221866138fb9203c83519. Subsequent calls will reuse this data.

  0%|          | 0/1 [00:00<?, ?it/s]

In [11]:
dataset

DatasetDict({
    train: Dataset({
        features: ['ID', 'Resume_str', 'Resume_html', 'Category'],
        num_rows: 2484
    })
})